@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Lexend:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-image: url(../img/fondooxido.jpg); }

header {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
  margin: 40px 50px 40px 50px; }

.container-header {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  grid-template-areas: "logo titulos";
  align-items: center; }

.logo {
  display: flex;
  grid-area: logo; }
  .logo img {
    width: 200px;
    height: 150px; }
  .logo:hover {
    -webkit-animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

ul li {
  list-style: none; }

.nav-bar {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
  grid-area: titulos; }
  .nav-bar a {
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-decoration: none; }
  .nav-bar li:hover {
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/*ANIMACIONES*/
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px); } }

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px); } }

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

footer {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin: 10px 50px 10px 50px; }

.container-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "ubicacion redes"; }

.ubicacion {
  grid-area: ubicacion;
  display: flex; }
  .ubicacion a {
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px; }
  .ubicacion img {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center; }

.redes {
  font-family: 'Comfortaa', cursive;
  font-size: 12px;
  font-weight: bold;
  color: black;
  grid-area: redes;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin: 0px;
  padding: 0px; }
  .redes img {
    width: 25px;
    height: 25px; }

.redes-2 {
  margin: 0px; }

.container-index {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "h1 imagen" "h2 imagen" "spotify imagen"; }

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  grid-area: h1;
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 1px gray;
  margin: 10px 10px 10px 50px; }

h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  grid-area: h2;
  justify-self: center;
  align-self: flex-start;
  margin: 10px 10px 10px 50px; }

.imagen-index {
  display: flex;
  grid-area: imagen;
  margin: 10px 50px 10px 10px;
  align-items: center;
  justify-content: center; }
  .imagen-index img {
    width: 400px;
    height: 300px;
    border-radius: 10px; }

.spotify {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  width: 280px;
  height: 90px;
  padding: 10px 15px 10px 15px;
  margin: 0px 10px 10px 50px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  grid-area: spotify; }
  .spotify a {
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center; }
  .spotify img {
    width: 60px;
    height: 60px;
    display: flex; }
  .spotify:hover {
    -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

.container-spotify {
  justify-self: center; }

/*ANIMACIONES*/
@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

.container-menu {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "menu1 menu2 menu3 menu4" "menu5 menu6 menu7 menu8" "none menu9 menu10 non"; }

.menu-1 {
  grid-area: menu1; }

.menu-2 {
  grid-area: menu2; }

.menu-3 {
  grid-area: menu3; }

.menu-4 {
  grid-area: menu4; }

.menu-5 {
  grid-area: menu5; }

.menu-6 {
  grid-area: menu6; }

.menu-7 {
  grid-area: menu7; }

.menu-8 {
  grid-area: menu8; }

.menu-9 {
  grid-area: menu9; }

.menu-10 {
  grid-area: menu10; }

.menu {
  margin: 20px 50px 20px 50px;
  position: relative;
  display: inline-block;
  text-align: center; }
  .menu a {
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    font-weight: bold;
    color: white;
    list-style: none;
    text-decoration: none; }
  .menu img {
    width: 215px;
    height: 150px;
    border-radius: 10px; }
  .menu:hover {
    -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

.burgers, .papas, .sandwiches, .parapicar, .platos, .ensaladas, .pizzetas, .tablas, .tragos, .bebidasycafeteria, .tragosycervezas, .comidas, .ustedes, .laestacion {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); }

.bebidasycafeteria {
  top: 20%; }

/*ANIMACIONES*/
@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

.nuestras-cervezas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; }
  .nuestras-cervezas img {
    width: 410px;
    height: 580px; }

.container-galeria {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "galeria1 galeria2" "galeria3 galeria4"; }

.galeria-1 {
  grid-area: galeria1; }

.galeria-2 {
  grid-area: galeria2; }

.galeria-3 {
  grid-area: galeria3; }

.galeria-4 {
  grid-area: galeria4; }

.galeria {
  margin: 20px 50px 20px 50px;
  position: relative;
  display: inline-block;
  text-align: center; }
  .galeria a {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: bold;
    color: white;
    list-style: none;
    text-decoration: none; }
  .galeria img {
    width: 300px;
    height: 200px;
    border-radius: 10px; }
  .galeria:hover {
    -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

/*ANIMACIONES*/
@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

.container-nosotros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 10% 25% 25%;
  grid-template-areas: "texto" "horarios" "formulario" "opinion"; }

.texto-nosotros {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  width: 500px;
  height: 200px;
  padding: 0px 10px 0px 10px;
  margin: 30px 10px 30px 10px;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-align: center;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  grid-area: texto;
  justify-self: center; }
  .texto-nosotros p {
    margin-bottom: 0px; }

.horarios, .formulario {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 30px 10px 30px 10px;
  text-align: center;
  grid-area: horarios;
  justify-self: center;
  align-self: center; }

.formulario {
  font-size: 20px;
  grid-area: formulario; }

.opinion {
  margin: 50px 10px 50px 10px;
  grid-area: opinion;
  justify-self: center;
  align-self: center; }
  .opinion a {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border: 1px solid gray; }
  .opinion:hover {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both; }

/*ANIMACIONES*/
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

.carrusel {
  margin: 0px 250px 0px 250px; }
  .carrusel img {
    height: 450px; }

@media (max-width: 768px) {
  header {
    margin: 30px 50px 30px 50px; }
  .logo img {
    width: 150px;
    height: 115px; }
  .nav-bar a {
    font-size: 10px; }
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 15px; }
  .imagen-index img {
    width: 320px;
    height: 240px; }
  .spotify {
    height: 60px;
    width: 180px; }
    .spotify a {
      font-size: 18px;
      gap: 15px; }
    .spotify img {
      width: 40px;
      height: 40px; }
  .ubicacion a {
    font-size: 10px; }
  .ubicacion img {
    width: 15px;
    height: 15px; }
  .redes {
    font-size: 10px; }
  .redes img {
    width: 20px;
    height: 20px; }
  .container-menu {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "menu1 menu2 menu3" "menu4 menu5 menu6" "menu7 menu8 menu9" "none menu10 non"; }
  .menu a {
    font-size: 12px; }
  .menu img {
    width: 140px;
    height: 100px; }
  .nuestras-cervezas img {
    width: 310px;
    height: 435px; }
  .galeria a {
    font-size: 18px; }
  .galeria img {
    width: 240px;
    height: 180px; }
  .carrusel {
    margin: 0px 70px 0px 70px; }
    .carrusel img {
      height: 450px; }
  .texto-nosotros {
    width: 400px;
    height: 110px;
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .horarios, .formulario {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px; }
  .opinion a {
    font-size: 20px; }
  .formulario {
    font-size: 15px; } }

@media (max-width: 850px) {
  .nav-bar a {
    font-size: 12px; } }

@media (max-width: 576px) {
  header {
    margin: 0px;
    border-radius: 0px; }
  .container-fluid {
    padding: 0px; }
  .logo img {
    width: 150px;
    height: 110px; }
  .nav-bar {
    flex-direction: column;
    gap: 2px;
    align-items: flex-end; }
    .nav-bar a {
      font-size: 10px; }
  .container-index {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 10% 50% 20%;
    grid-template-areas: "h1" "h2" "imagen" "spotify"; }
  h1 {
    font-size: 25px;
    margin: 10px 0px 10px 0px; }
  h2 {
    font-size: 12px;
    margin: 10px 0px 10px 0px; }
  .imagen-index {
    margin: 35px 0px 35px 0px; }
    .imagen-index img {
      width: 260px;
      height: 200px; }
  .spotify {
    height: 50px;
    width: 155px;
    margin: 25px 0px 40px 0px; }
    .spotify a {
      font-size: 10px;
      gap: 15px; }
    .spotify img {
      width: 25px;
      height: 25px; }
  footer {
    margin: 0px;
    border-radius: 0px; }
  .ubicacion img {
    width: 12px;
    height: 12px; }
  .ubicacion a {
    font-size: 8px; }
  .redes {
    font-size: 8px; }
    .redes img {
      width: 14px;
      height: 14px; }
  .container-menu {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: "menu1" "menu2" "menu3" "menu4" "menu5" "menu6" "menu7" "menu8" "menu9" "menu10"; }
  .menu img {
    width: 180px;
    height: 100px; }
  .menu a {
    font-size: 12px; }
  .nuestras-cervezas img {
    width: 340px;
    height: 490px; }
  .container-galeria {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "galeria1"  "galeria2" "galeria3" "galeria4"; }
  .galeria img {
    width: 200px;
    height: 125px; }
  .galeria a {
    font-size: 15px; }
  .carrusel {
    margin: 50px 20px 50px 20px; }
    .carrusel img {
      height: 400px; }
  .texto-nosotros {
    width: 300px;
    height: 120px;
    font-size: 12px;
    line-height: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-self: center; }
  .horarios, .formulario {
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .opinion a {
    font-size: 15px; }
  .formulario {
    font-size: 10px;
    margin: 40px 10px 40px 10px; } }

@media (max-width: 720px) {
  .nav-bar {
    flex-direction: column;
    gap: 2px;
    align-items: flex-end; }
    .nav-bar a {
      font-size: 10px; } }
