@mixin font ($size, $weight) {
    font-family: 'Comfortaa', cursive;
    font-size: $size;
    font-weight: $weight;
}

@mixin vidrio {
    background:  rgba(255,255,255,0.25);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
}

@mixin medidas ($width, $height, $padding, $margin) {
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin;
}