body{
    background-image: url(../img/fondooxido.jpg);
}

.container-grid{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 7fr 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

main{
    grid-area: main;
}