header{
    @include vidrio;
    padding: 0px 20px 0px 20px;
    margin: 40px 50px 40px 50px;
}

.container-header{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "logo titulos"
    ;
    align-items: center;
}

.logo{
    display: flex;
    grid-area: logo;
        img{
            width: 200px;
            height: 150px;
        }
        &:hover{
            -webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
}

ul li{
    list-style: none;
}

.nav-bar{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
    grid-area: titulos;
        a{
            @include font (15px, bold);
            color: $texto-coloroscuro;
            text-decoration: none;
        }
        li:hover{
            -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
}

        /*ANIMACIONES*/

@-webkit-keyframes slide-right {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    }
    }
@keyframes slide-right {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    }
}

@-webkit-keyframes scale-up-center {
    0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    }
    100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    }
    100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    }
}

@-webkit-keyframes shadow-drop-center {
    0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}
@keyframes shadow-drop-center {
    0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}