.container-galeria{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "galeria1 galeria2"
    "galeria3 galeria4"
    ;
}

.galeria-1{
    grid-area: galeria1;
}

.galeria-2{
    grid-area: galeria2;
}

.galeria-3{
    grid-area: galeria3;
}

.galeria-4{
    grid-area: galeria4;
}

.galeria{
    margin: 20px 50px 20px 50px;
    position: relative;
    display: inline-block;
    text-align: center;
        a{
            @include font (20px, bold);
            color: $texto-colorclaro;
            list-style: none;
            text-decoration: none;
        }
        img{
            width: 300px;
            height: 200px;
            border-radius: 10px;
        }
        &:hover{
            -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
}

.tragosycervezas{
    @extend .burgers;
}

.comidas{
    @extend .burgers;
}

.ustedes{
    @extend .burgers;
}

.laestacion{
    @extend .burgers;
}

        /*ANIMACIONES*/

@-webkit-keyframes scale-up-hor-center {
    0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    }
    100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }
}
@keyframes scale-up-hor-center {
    0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    }
    100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }
}
