.container-nosotros{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 10% 20% 20% 10%;
    grid-template-areas: 
    "texto"
    "horarios"
    "formulario"
    "opinion"
    "slogan"
    ;
}

.texto-nosotros{
    @include vidrio;
    @include medidas (500px, 150px, 20px, 50px 10px 50px 10px);
    @include font (16px, bold);
    color: $texto-coloroscuro;
    text-align: center;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    grid-area: texto;
    justify-self: center;
}

.horarios{
    @include font (18px, bold);
    color: $texto-colorclaro;
    margin: 50px 10px 50px 10px;
    text-align: center;
    grid-area: horarios;
    justify-self: center;
    align-self: center;
}

.slogan{
    @extend .horarios;
    grid-area: slogan;
}

.formulario{
    @extend .horarios;
    font-size: 20px;
    grid-area: formulario;
}

.opinion{
    margin: 50px 10px 50px 10px;
    grid-area: opinion;
    justify-self: center;
    align-self: center;
        a{
            @include vidrio;
            @include font (30px, bold);
            color: $texto-coloroscuro;
            text-align: center;
            text-decoration: none;
            padding: 20px;
            border: 1px solid gray;
        }
        &:hover{
            -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
            animation: heartbeat 1.5s ease-in-out infinite both;        
        }
}

        /*ANIMACIONES*/

@-webkit-keyframes heartbeat {
    from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
}
@keyframes heartbeat {
    from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
}
