@media (max-width: 576px){

    header{
        margin: 0px;
        border-radius: 0px;
    }

    .container-fluid{
        padding: 0px;
    }

    .logo img{
        width: 100px;
        height: 75px;
    }

    .nav-bar{
        flex-direction: column;
        gap: 2px;
        align-items: flex-end;
    }

    .nav-bar a{
        font-size: 10px;
    }

    .container-index{
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 10% 50% 20%;
        grid-template-areas: 
        "h1"
        "h2"
        "imagen"
        "spotify"
        ;
    }

    h1{
        font-size: 20px;
        margin: 5px 0px 5px 0px;
    }

    h2{
        font-size: 10px;
        margin: 5px 0px 5px 0px;
    }

    .imagen-index{
        margin: 25px 0px 25px 0px; 
        img{
            width: 180px;
            height: 140px;
        }
    }

    .spotify{
        height: 45px;
        width: 140px;
        margin: 15px 0px 15px 0px;
        a{
            font-size: 10px;
            gap: 15px;
        }
        img{
            width: 25px;
            height: 25px;
        }
    }

    footer{
        margin: 0px;
        border-radius: 0px;
    }

    .ubicacion img{
        width: 12px;
        height: 12px;
    }

    .ubicacion a{
        font-size: 8px;
    }

    .redes{
        font-size: 8px;
        img{
            width: 14px;
            height: 14px;
        }
    }

    .container-menu{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas: 
        "menu1"
        "menu2"
        "menu3"
        "menu4"
        "menu5"
        "menu6"
        "menu7"
        "menu8"
        "menu9"
        "menu10"
        ;
    }

    .menu img{
        width: 180px;
        height: 100px;
    }

    .menu a{
        font-size: 12px;
    }
    
    .nuestras-cervezas img{
        width: 200px;
        height: 290px;
    }

    .container-galeria{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "galeria1" 
        "galeria2"
        "galeria3"
        "galeria4"
        ;
    }

    .galeria img{
        width: 200px;
        height: 125px;
    }

    .galeria a{
        font-size: 15px;
    }

    .carrusel{
        margin: 20px 70px 20px 70px;
        img{
            height: 300px;
        }
    }

    .texto-nosotros{
        width: 275px;
        height: 100px;
        font-size: 10px;
        line-height: 12px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .horarios{
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .opinion a{
        font-size: 15px;
    }

    .formulario{
        font-size: 10px;
    }
}

@media (max-width:720px){
    
    .nav-bar{
        flex-direction: column;
        gap: 2px;
        align-items: flex-end;
    }

    .nav-bar a{
        font-size: 10px;
    }
}